.left {
  float: left;
}
.right {
  float: right;
}
.margin-1 {
  margin: 10px;
}
.margin-2 {
  margin: 20px;
}
.margin-3 {
  margin: 30px;
}
.margin-4 {
  margin: 40px;
}
.margin-5 {
  margin: 50px;
}
.margin-6 {
  margin: 60px;
}
.margin-7 {
  margin: 70px;
}
.margin-8 {
  margin: 80px;
}
.margin-9 {
  margin: 90px;
}
.margin-10 {
  margin: 100px;
}
.margin-11 {
  margin: 110px;
}
.margin-12 {
  margin: 120px;
}
.margin-13 {
  margin: 130px;
}
.margin-14 {
  margin: 140px;
}
.margin-15 {
  margin: 150px;
}
.margin-top-1 {
  margin-top: 10px;
}
.margin-top-2 {
  margin-top: 20px;
}
.margin-top-3 {
  margin-top: 30px;
}
.margin-top-4 {
  margin-top: 40px;
}
.margin-top-5 {
  margin-top: 50px;
}
.margin-top-6 {
  margin-top: 60px;
}
.margin-top-7 {
  margin-top: 70px;
}
.margin-top-8 {
  margin-top: 80px;
}
.margin-top-9 {
  margin-top: 90px;
}
.margin-top-10 {
  margin-top: 100px;
}
.margin-top-11 {
  margin-top: 110px;
}
.margin-top-12 {
  margin-top: 120px;
}
.margin-top-13 {
  margin-top: 130px;
}
.margin-top-14 {
  margin-top: 140px;
}
.margin-top-15 {
  margin-top: 150px;
}
.margin-right-1 {
  margin-right: 10px !important;
}
.margin-right-2 {
  margin-right: 20px !important;
}
.margin-right-3 {
  margin-right: 30px !important;
}
.margin-right-4 {
  margin-right: 40px !important;
}
.margin-right-5 {
  margin-right: 50px !important;
}
.margin-right-6 {
  margin-right: 60px !important;
}
.margin-right-7 {
  margin-right: 70px !important;
}
.margin-right-8 {
  margin-right: 80px !important;
}
.margin-right-9 {
  margin-right: 90px !important;
}
.margin-right-10 {
  margin-right: 100px !important;
}
.margin-right-11 {
  margin-right: 110px !important;
}
.margin-right-12 {
  margin-right: 120px !important;
}
.margin-right-13 {
  margin-right: 130px !important;
}
.margin-right-14 {
  margin-right: 140px !important;
}
.margin-right-15 {
  margin-right: 150px !important;
}
.margin-bottom-1 {
  margin-bottom: 10px;
}
.margin-bottom-2 {
  margin-bottom: 20px;
}
.margin-bottom-3 {
  margin-bottom: 30px;
}
.margin-bottom-4 {
  margin-bottom: 40px;
}
.margin-bottom-5 {
  margin-bottom: 50px;
}
.margin-bottom-6 {
  margin-bottom: 60px;
}
.margin-bottom-7 {
  margin-bottom: 70px;
}
.margin-bottom-8 {
  margin-bottom: 80px;
}
.margin-bottom-9 {
  margin-bottom: 90px;
}
.margin-bottom-10 {
  margin-bottom: 100px;
}
.margin-bottom-11 {
  margin-bottom: 110px;
}
.margin-bottom-12 {
  margin-bottom: 120px;
}
.margin-bottom-13 {
  margin-bottom: 130px;
}
.margin-bottom-14 {
  margin-bottom: 140px;
}
.margin-bottom-15 {
  margin-bottom: 150px;
}
.margin-left-1 {
  margin-left: 10px !important;
}
.margin-left-2 {
  margin-left: 20px !important;
}
.margin-left-3 {
  margin-left: 30px !important;
}
.margin-left-4 {
  margin-left: 40px !important;
}
.margin-left-5 {
  margin-left: 50px !important;
}
.margin-left-6 {
  margin-left: 60px !important;
}
.margin-left-7 {
  margin-left: 70px !important;
}
.margin-left-8 {
  margin-left: 80px !important;
}
.margin-left-9 {
  margin-left: 90px !important;
}
.margin-left-10 {
  margin-left: 100px !important;
}
.margin-left-11 {
  margin-left: 110px !important;
}
.margin-left-12 {
  margin-left: 120px !important;
}
.margin-left-13 {
  margin-left: 130px !important;
}
.margin-left-14 {
  margin-left: 140px !important;
}
.margin-left-15 {
  margin-left: 150px !important;
}
.padding-top-1 {
  padding-top: 10px;
}
.padding-top-2 {
  padding-top: 20px;
}
.padding-top-3 {
  padding-top: 30px;
}
.padding-top-4 {
  padding-top: 40px;
}
.padding-top-5 {
  padding-top: 50px;
}
.padding-top-6 {
  padding-top: 60px;
}
.padding-top-7 {
  padding-top: 70px;
}
.padding-top-8 {
  padding-top: 80px;
}
.padding-top-9 {
  padding-top: 90px;
}
.padding-top-10 {
  padding-top: 100px;
}
.padding-top-11 {
  padding-top: 110px;
}
.padding-top-12 {
  padding-top: 120px;
}
.padding-top-13 {
  padding-top: 130px;
}
.padding-top-14 {
  padding-top: 140px;
}
.padding-top-15 {
  padding-top: 150px;
}
.padding-bottom-1 {
  padding-bottom: 10px;
}
.padding-bottom-2 {
  padding-bottom: 20px;
}
.padding-bottom-3 {
  padding-bottom: 30px;
}
.padding-bottom-4 {
  padding-bottom: 40px;
}
.padding-bottom-5 {
  padding-bottom: 50px;
}
.padding-bottom-6 {
  padding-bottom: 60px;
}
.padding-bottom-7 {
  padding-bottom: 70px;
}
.padding-bottom-8 {
  padding-bottom: 80px;
}
.padding-bottom-9 {
  padding-bottom: 90px;
}
.padding-bottom-10 {
  padding-bottom: 100px;
}
.padding-bottom-11 {
  padding-bottom: 110px;
}
.padding-bottom-12 {
  padding-bottom: 120px;
}
.padding-bottom-13 {
  padding-bottom: 130px;
}
.padding-bottom-14 {
  padding-bottom: 140px;
}
.padding-bottom-15 {
  padding-bottom: 150px;
}
.padding-left-1 {
  padding-left: 10px;
}
.padding-left-2 {
  padding-left: 20px;
}
.padding-left-3 {
  padding-left: 30px;
}
.padding-left-4 {
  padding-left: 40px;
}
.padding-left-5 {
  padding-left: 50px;
}
.padding-left-6 {
  padding-left: 60px;
}
.padding-left-7 {
  padding-left: 70px;
}
.padding-left-8 {
  padding-left: 80px;
}
.padding-left-9 {
  padding-left: 90px;
}
.padding-left-10 {
  padding-left: 100px;
}
.padding-left-11 {
  padding-left: 110px;
}
.padding-left-12 {
  padding-left: 120px;
}
.padding-left-13 {
  padding-left: 130px;
}
.padding-left-14 {
  padding-left: 140px;
}
.padding-left-15 {
  padding-left: 150px;
}
.padding-right-1 {
  padding-right: 10px;
}
.padding-right-2 {
  padding-right: 20px;
}
.padding-right-3 {
  padding-right: 30px;
}
.padding-right-4 {
  padding-right: 40px;
}
.padding-right-5 {
  padding-right: 50px;
}
.padding-right-6 {
  padding-right: 60px;
}
.padding-right-7 {
  padding-right: 70px;
}
.padding-right-8 {
  padding-right: 80px;
}
.padding-right-9 {
  padding-right: 90px;
}
.padding-right-10 {
  padding-right: 100px;
}
.padding-right-11 {
  padding-right: 110px;
}
.padding-right-12 {
  padding-right: 120px;
}
.padding-right-13 {
  padding-right: 130px;
}
.padding-right-14 {
  padding-right: 140px;
}
.padding-right-15 {
  padding-right: 150px;
}
.width-1 {
  width: 10% !important;
}
.width-2 {
  width: 20% !important;
}
.width-3 {
  width: 30% !important;
}
.width-4 {
  width: 40% !important;
}
.width-5 {
  width: 50% !important;
}
.width-6 {
  width: 60% !important;
}
.width-7 {
  width: 70% !important;
}
.width-8 {
  width: 80% !important;
}
.width-9 {
  width: 90% !important;
}
.width-10 {
  width: 100% !important;
}
.vcenter {
  display: table;
}
.vcenter__container {
  display: table-cell;
  vertical-align: middle;
}
.flexible-frame-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 78.8%;
}
.flexible-frame-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.two-media-height {
  height: 220px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  height: 100%;
  font: 18px/1 'Oranienbaum';
}
.container {
  zoom: 1;
  width: 1024px;
  margin: auto;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.scrollbox {
  overflow-y: auto;
}
.tab-height {
  overflow-y: auto;
}


@font-face {
  font-family: 'Oranienbaum';
  src: url("../fonts/oranienbaum/oranienbaum.eot");
  src: url("../fonts/oranienbaum/oranienbaum.eot?#iefix") format('embedded-opentype'), url("../fonts/oranienbaum/oranienbaum.woff2") format('woff2'), url("../fonts/oranienbaum/oranienbaum.woff") format('woff'), url("../fonts/oranienbaum/oranienbaum.ttf") format('truetype'), url("../fonts/oranienbaum/oranienbaum.svg#oranienbaum") format('svg');
  font-weight: normal;
  font-style: normal;
}
.main_heading {
  margin: 0.5em 0 1.2em;
  padding: 0.3em;
  text-align: center;
  font-size: 42px;
  line-height: 1;
  background: url("../img/layout/border.png") no-repeat center bottom;
}
.main_heading_white {
  color: #fff;
  background: url("../img/layout/border-white.png") no-repeat center bottom;
}
.heading {
  margin: 47px 0 31px;
  font-size: 22px;
  font-weight: bold;
}
.heading-2 {
  font-size: 21px;
  color: #fff;
}
.heading-3 {
  font-size: 14px;
}
.text-block {
  margin: 0 0 20px;
  padding: 28px;
  color: #fff;
  font-size: 21px;
  line-height: 1.1;
  background: rgba(30,30,30,0.8);
}
.text-block span {
  display: table-cell;
  vertical-align: middle;
}
.capitalize {
  text-transform: capitalize;
}
.no-overflow {
  overflow: hidden;
}
.bold {
  font-weight: bold;
}
.paragraph {
  margin: 0.8em 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -1px;
  color: #636f6f;
}
.link {
  color: #5cacd7;
  text-decoration: underline;
}
pre {
  display: inline-block;
  vertical-align: top;
  width: 560px;
  height: 45px;
  margin: 0;
  padding: 10px;
  font-size: 12px;
  background: #f5f5f5;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.clr-inherit {
  color: inherit !important;
}
.white {
  color: #fff;
}
.success {
  background: #00b04a !important;
}
.warning {
  background: #df3434 !important;
}


.contacts {
  padding: 0;
  text-align: center;
  font-size: 21px;
}
.contacts__item {
  display: inline;
  color: #fff;
}
.contacts__icon {
  display: inline-block;
  vertical-align: text-bottom;
  width: 24px;
}

.figure {
  zoom: 1;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  width: 512px;
  margin: 0 20px 0 0;
  text-align: left;
  background: rgba(255,255,255,0.8);
  border: 10px solid rgba(205,205,205,0.9);
}
.figure:before,
.figure:after {
  content: "";
  display: table;
}
.figure:after {
  clear: both;
}
.figure:hover .figure__caption {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.figure__caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 0 10px 20px;
  background: rgba(205,205,205,0.9);
  -webkit-transform: translate(0, 40px);
  -moz-transform: translate(0, 40px);
  -o-transform: translate(0, 40px);
  -ms-transform: translate(0, 40px);
  transform: translate(0, 40px);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(1, 0, 0, 1);
  -moz-transition: -moz-transform 0.5s cubic-bezier(1, 0, 0, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(1, 0, 0, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
}
.figure__img {
  width: 100%;
}
.figure__heading {
  margin: 0.5em 0;
  font-size: 1.5em;
}
.figure__text {
  margin: 0.5em 0;
}
.figure__link {
  text-decoration: underline;
  color: #551a8b;
}

.main-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.contacts-img-left {
  margin: 0 0 0 2em;
}
.contacts-img-right {
  margin: 0 0 0 -4em;
}
.creds {
  text-align: center;
}
.dygai_cred {
  width: 48px;
}

.gallery {
  width: 90%;
  margin: auto;
}
.gallery__img {
  width: 25%;
  float: left;
  padding: 0 1% 1% 0;
}

.header {
  text-align: center;
}
.main-nav {
  margin: 20px 0;
  padding: 10px 0;
}
.main-nav__list {
  zoom: 1;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid;
}
.main-nav__list:before,
.main-nav__list:after {
  content: "";
  display: table;
}
.main-nav__list:after {
  clear: both;
}
.main-nav__item {
  display: inline-block;
}
.main-nav__link {
  display: inline-block;
  padding: 15px;
  font-size: 24px;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.main-nav__link:hover {
  background: rgba(51,51,51,0.6);
}
.logo {
  width: 250px;
}

.media {
  text-align: center;
}
.media-item {
  zoom: 1;
  display: inline-block;
  vertical-align: top;
  width: 512px;
  margin: 0 20px 0 0;
  text-align: left;
  background: rgba(255,255,255,0.8);
  border: 10px solid rgba(55,55,55,0.2);
}
.media-item:before,
.media-item:after {
  content: "";
  display: table;
}
.media-item:after {
  clear: both;
}
.media-item__img {
  float: left;
  width: 50%;
}
.media-item__heading {
  overflow: hidden;
  margin: 0.5em;
  padding: 0 0 0 20px;
  font-size: 24px;
  line-height: 1;
}
.media-item__text {
  overflow: hidden;
  margin: 0.5em;
  padding: 0 0 0 20px;
}

.member {
  zoom: 1;
  margin: 0 0 25px 0;
  text-align: left;
  background: rgba(255,255,255,0.7);
}
.member:before,
.member:after {
  content: "";
  display: table;
}
.member:after {
  clear: both;
}
.member__photo {
  width: 96px;
  float: left;
}
.member__name {
  overflow: hidden;
  margin: 0.5em;
  padding: 0 0 0 20px;
  font-size: 21px;
  line-height: 1;
}
.member__rank {
  overflow: hidden;
  margin: 0.5em;
  padding: 0 0 0 20px;
}

.home {
  background: url("../img/backgrounds/header.jpg");
  background-size: 100% auto;
}
.crew {
  background: url("../img/backgrounds/ycht-clb-tgn.jpg");
  background-size: 100% auto;
  background-position: 0 -80px;
}
.travel {
  background: url("../img/backgrounds/yacht-clb-travl.jpg");
  background-size: 100% auto;
}
.yachts {
  background: url("../img/backgrounds/ycht-clb-ychts.jpg");
  background-size: 100% auto;
}
.contacts {
  background: #333;
}

.grid {
  zoom: 1;
  list-style: none;
}
.grid:before,
.grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}
.grid * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col_lg_1 {
  width: 4.1666666666667%;
  float: left;
  padding: 0 1em;
}
.col_lg_1:first-child {
  padding-left: 0;
}
.col_lg_1:last-child {
  padding-right: 0;
}
.col_lg_1 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_2 {
  width: 8.3333333333333%;
  float: left;
  padding: 0 1em;
}
.col_lg_2:first-child {
  padding-left: 0;
}
.col_lg_2:last-child {
  padding-right: 0;
}
.col_lg_2 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_3 {
  width: 12.5%;
  float: left;
  padding: 0 1em;
}
.col_lg_3:first-child {
  padding-left: 0;
}
.col_lg_3:last-child {
  padding-right: 0;
}
.col_lg_3 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_4 {
  width: 16.6666666666667%;
  float: left;
  padding: 0 1em;
}
.col_lg_4:first-child {
  padding-left: 0;
}
.col_lg_4:last-child {
  padding-right: 0;
}
.col_lg_4 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_5 {
  width: 20.8333333333333%;
  float: left;
  padding: 0 1em;
}
.col_lg_5:first-child {
  padding-left: 0;
}
.col_lg_5:last-child {
  padding-right: 0;
}
.col_lg_5 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_6 {
  width: 25%;
  float: left;
  padding: 0 1em;
}
.col_lg_6:first-child {
  padding-left: 0;
}
.col_lg_6:last-child {
  padding-right: 0;
}
.col_lg_6 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_7 {
  width: 29.166666666666703%;
  float: left;
  padding: 0 1em;
}
.col_lg_7:first-child {
  padding-left: 0;
}
.col_lg_7:last-child {
  padding-right: 0;
}
.col_lg_7 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_8 {
  width: 33.3333333333333%;
  float: left;
  padding: 0 1em;
}
.col_lg_8:first-child {
  padding-left: 0;
}
.col_lg_8:last-child {
  padding-right: 0;
}
.col_lg_8 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_9 {
  width: 37.5%;
  float: left;
  padding: 0 1em;
}
.col_lg_9:first-child {
  padding-left: 0;
}
.col_lg_9:last-child {
  padding-right: 0;
}
.col_lg_9 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_10 {
  width: 41.6666666666667%;
  float: left;
  padding: 0 1em;
}
.col_lg_10:first-child {
  padding-left: 0;
}
.col_lg_10:last-child {
  padding-right: 0;
}
.col_lg_10 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_11 {
  width: 45.8333333333333%;
  float: left;
  padding: 0 1em;
}
.col_lg_11:first-child {
  padding-left: 0;
}
.col_lg_11:last-child {
  padding-right: 0;
}
.col_lg_11 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_12 {
  width: 50%;
  float: left;
  padding: 0 1em;
}
.col_lg_12:first-child {
  padding-left: 0;
}
.col_lg_12:last-child {
  padding-right: 0;
}
.col_lg_12 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_13 {
  width: 54.1666666666667%;
  float: left;
  padding: 0 1em;
}
.col_lg_13:first-child {
  padding-left: 0;
}
.col_lg_13:last-child {
  padding-right: 0;
}
.col_lg_13 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_14 {
  width: 58.3333333333333%;
  float: left;
  padding: 0 1em;
}
.col_lg_14:first-child {
  padding-left: 0;
}
.col_lg_14:last-child {
  padding-right: 0;
}
.col_lg_14 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_15 {
  width: 62.5%;
  float: left;
  padding: 0 1em;
}
.col_lg_15:first-child {
  padding-left: 0;
}
.col_lg_15:last-child {
  padding-right: 0;
}
.col_lg_15 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_16 {
  width: 66.6666666666667%;
  float: left;
  padding: 0 1em;
}
.col_lg_16:first-child {
  padding-left: 0;
}
.col_lg_16:last-child {
  padding-right: 0;
}
.col_lg_16 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_17 {
  width: 70.8333333333333%;
  float: left;
  padding: 0 1em;
}
.col_lg_17:first-child {
  padding-left: 0;
}
.col_lg_17:last-child {
  padding-right: 0;
}
.col_lg_17 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_18 {
  width: 75%;
  float: left;
  padding: 0 1em;
}
.col_lg_18:first-child {
  padding-left: 0;
}
.col_lg_18:last-child {
  padding-right: 0;
}
.col_lg_18 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_19 {
  width: 79.1666666666667%;
  float: left;
  padding: 0 1em;
}
.col_lg_19:first-child {
  padding-left: 0;
}
.col_lg_19:last-child {
  padding-right: 0;
}
.col_lg_19 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_20 {
  width: 83.3333333333333%;
  float: left;
  padding: 0 1em;
}
.col_lg_20:first-child {
  padding-left: 0;
}
.col_lg_20:last-child {
  padding-right: 0;
}
.col_lg_20 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_21 {
  width: 87.5%;
  float: left;
  padding: 0 1em;
}
.col_lg_21:first-child {
  padding-left: 0;
}
.col_lg_21:last-child {
  padding-right: 0;
}
.col_lg_21 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_22 {
  width: 91.6666666666667%;
  float: left;
  padding: 0 1em;
}
.col_lg_22:first-child {
  padding-left: 0;
}
.col_lg_22:last-child {
  padding-right: 0;
}
.col_lg_22 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_23 {
  width: 95.8333333333333%;
  float: left;
  padding: 0 1em;
}
.col_lg_23:first-child {
  padding-left: 0;
}
.col_lg_23:last-child {
  padding-right: 0;
}
.col_lg_23 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.col_lg_24 {
  width: 100%;
  float: left;
  padding: 0 1em;
}
.col_lg_24:first-child {
  padding-left: 0;
}
.col_lg_24:last-child {
  padding-right: 0;
}
.col_lg_24 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
@media (max-width: 60em) {
  .col_mdx_1 {
    width: 4.1666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_1:first-child {
    padding-left: 0;
  }
  .col_mdx_1:last-child {
    padding-right: 0;
  }
  .col_mdx_1 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_2 {
    width: 8.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_2:first-child {
    padding-left: 0;
  }
  .col_mdx_2:last-child {
    padding-right: 0;
  }
  .col_mdx_2 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_3 {
    width: 12.5%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_3:first-child {
    padding-left: 0;
  }
  .col_mdx_3:last-child {
    padding-right: 0;
  }
  .col_mdx_3 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_4 {
    width: 16.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_4:first-child {
    padding-left: 0;
  }
  .col_mdx_4:last-child {
    padding-right: 0;
  }
  .col_mdx_4 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_5 {
    width: 20.8333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_5:first-child {
    padding-left: 0;
  }
  .col_mdx_5:last-child {
    padding-right: 0;
  }
  .col_mdx_5 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_6 {
    width: 25%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_6:first-child {
    padding-left: 0;
  }
  .col_mdx_6:last-child {
    padding-right: 0;
  }
  .col_mdx_6 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_7 {
    width: 29.166666666666703%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_7:first-child {
    padding-left: 0;
  }
  .col_mdx_7:last-child {
    padding-right: 0;
  }
  .col_mdx_7 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_8 {
    width: 33.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_8:first-child {
    padding-left: 0;
  }
  .col_mdx_8:last-child {
    padding-right: 0;
  }
  .col_mdx_8 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_9 {
    width: 37.5%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_9:first-child {
    padding-left: 0;
  }
  .col_mdx_9:last-child {
    padding-right: 0;
  }
  .col_mdx_9 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_10 {
    width: 41.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_10:first-child {
    padding-left: 0;
  }
  .col_mdx_10:last-child {
    padding-right: 0;
  }
  .col_mdx_10 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_11 {
    width: 45.8333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_11:first-child {
    padding-left: 0;
  }
  .col_mdx_11:last-child {
    padding-right: 0;
  }
  .col_mdx_11 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_12 {
    width: 50%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_12:first-child {
    padding-left: 0;
  }
  .col_mdx_12:last-child {
    padding-right: 0;
  }
  .col_mdx_12 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_13 {
    width: 54.1666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_13:first-child {
    padding-left: 0;
  }
  .col_mdx_13:last-child {
    padding-right: 0;
  }
  .col_mdx_13 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_14 {
    width: 58.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_14:first-child {
    padding-left: 0;
  }
  .col_mdx_14:last-child {
    padding-right: 0;
  }
  .col_mdx_14 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_15 {
    width: 62.5%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_15:first-child {
    padding-left: 0;
  }
  .col_mdx_15:last-child {
    padding-right: 0;
  }
  .col_mdx_15 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_16 {
    width: 66.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_16:first-child {
    padding-left: 0;
  }
  .col_mdx_16:last-child {
    padding-right: 0;
  }
  .col_mdx_16 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_17 {
    width: 70.8333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_17:first-child {
    padding-left: 0;
  }
  .col_mdx_17:last-child {
    padding-right: 0;
  }
  .col_mdx_17 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_18 {
    width: 75%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_18:first-child {
    padding-left: 0;
  }
  .col_mdx_18:last-child {
    padding-right: 0;
  }
  .col_mdx_18 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_19 {
    width: 79.1666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_19:first-child {
    padding-left: 0;
  }
  .col_mdx_19:last-child {
    padding-right: 0;
  }
  .col_mdx_19 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_20 {
    width: 83.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_20:first-child {
    padding-left: 0;
  }
  .col_mdx_20:last-child {
    padding-right: 0;
  }
  .col_mdx_20 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_21 {
    width: 87.5%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_21:first-child {
    padding-left: 0;
  }
  .col_mdx_21:last-child {
    padding-right: 0;
  }
  .col_mdx_21 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_22 {
    width: 91.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_22:first-child {
    padding-left: 0;
  }
  .col_mdx_22:last-child {
    padding-right: 0;
  }
  .col_mdx_22 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_23 {
    width: 95.8333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_23:first-child {
    padding-left: 0;
  }
  .col_mdx_23:last-child {
    padding-right: 0;
  }
  .col_mdx_23 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_mdx_24 {
    width: 100%;
    float: left;
    padding: 0 1em;
  }
  .col_mdx_24:first-child {
    padding-left: 0;
  }
  .col_mdx_24:last-child {
    padding-right: 0;
  }
  .col_mdx_24 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
}
@media (max-width: 47.5em) {
  .col_md_1 {
    width: 4.1666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_md_1:first-child {
    padding-left: 0;
  }
  .col_md_1:last-child {
    padding-right: 0;
  }
  .col_md_1 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_2 {
    width: 8.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_md_2:first-child {
    padding-left: 0;
  }
  .col_md_2:last-child {
    padding-right: 0;
  }
  .col_md_2 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_3 {
    width: 12.5%;
    float: left;
    padding: 0 1em;
  }
  .col_md_3:first-child {
    padding-left: 0;
  }
  .col_md_3:last-child {
    padding-right: 0;
  }
  .col_md_3 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_4 {
    width: 16.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_md_4:first-child {
    padding-left: 0;
  }
  .col_md_4:last-child {
    padding-right: 0;
  }
  .col_md_4 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_5 {
    width: 20.8333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_md_5:first-child {
    padding-left: 0;
  }
  .col_md_5:last-child {
    padding-right: 0;
  }
  .col_md_5 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_6 {
    width: 25%;
    float: left;
    padding: 0 1em;
  }
  .col_md_6:first-child {
    padding-left: 0;
  }
  .col_md_6:last-child {
    padding-right: 0;
  }
  .col_md_6 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_7 {
    width: 29.166666666666703%;
    float: left;
    padding: 0 1em;
  }
  .col_md_7:first-child {
    padding-left: 0;
  }
  .col_md_7:last-child {
    padding-right: 0;
  }
  .col_md_7 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_8 {
    width: 33.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_md_8:first-child {
    padding-left: 0;
  }
  .col_md_8:last-child {
    padding-right: 0;
  }
  .col_md_8 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_9 {
    width: 37.5%;
    float: left;
    padding: 0 1em;
  }
  .col_md_9:first-child {
    padding-left: 0;
  }
  .col_md_9:last-child {
    padding-right: 0;
  }
  .col_md_9 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_10 {
    width: 41.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_md_10:first-child {
    padding-left: 0;
  }
  .col_md_10:last-child {
    padding-right: 0;
  }
  .col_md_10 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_11 {
    width: 45.8333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_md_11:first-child {
    padding-left: 0;
  }
  .col_md_11:last-child {
    padding-right: 0;
  }
  .col_md_11 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_12 {
    width: 50%;
    float: left;
    padding: 0 1em;
  }
  .col_md_12:first-child {
    padding-left: 0;
  }
  .col_md_12:last-child {
    padding-right: 0;
  }
  .col_md_12 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_13 {
    width: 54.1666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_md_13:first-child {
    padding-left: 0;
  }
  .col_md_13:last-child {
    padding-right: 0;
  }
  .col_md_13 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_14 {
    width: 58.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_md_14:first-child {
    padding-left: 0;
  }
  .col_md_14:last-child {
    padding-right: 0;
  }
  .col_md_14 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_15 {
    width: 62.5%;
    float: left;
    padding: 0 1em;
  }
  .col_md_15:first-child {
    padding-left: 0;
  }
  .col_md_15:last-child {
    padding-right: 0;
  }
  .col_md_15 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_16 {
    width: 66.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_md_16:first-child {
    padding-left: 0;
  }
  .col_md_16:last-child {
    padding-right: 0;
  }
  .col_md_16 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_17 {
    width: 70.8333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_md_17:first-child {
    padding-left: 0;
  }
  .col_md_17:last-child {
    padding-right: 0;
  }
  .col_md_17 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_18 {
    width: 75%;
    float: left;
    padding: 0 1em;
  }
  .col_md_18:first-child {
    padding-left: 0;
  }
  .col_md_18:last-child {
    padding-right: 0;
  }
  .col_md_18 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_19 {
    width: 79.1666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_md_19:first-child {
    padding-left: 0;
  }
  .col_md_19:last-child {
    padding-right: 0;
  }
  .col_md_19 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_20 {
    width: 83.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_md_20:first-child {
    padding-left: 0;
  }
  .col_md_20:last-child {
    padding-right: 0;
  }
  .col_md_20 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_21 {
    width: 87.5%;
    float: left;
    padding: 0 1em;
  }
  .col_md_21:first-child {
    padding-left: 0;
  }
  .col_md_21:last-child {
    padding-right: 0;
  }
  .col_md_21 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_22 {
    width: 91.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_md_22:first-child {
    padding-left: 0;
  }
  .col_md_22:last-child {
    padding-right: 0;
  }
  .col_md_22 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_23 {
    width: 95.8333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_md_23:first-child {
    padding-left: 0;
  }
  .col_md_23:last-child {
    padding-right: 0;
  }
  .col_md_23 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_md_24 {
    width: 100%;
    float: left;
    padding: 0 1em;
  }
  .col_md_24:first-child {
    padding-left: 0;
  }
  .col_md_24:last-child {
    padding-right: 0;
  }
  .col_md_24 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
}
@media (max-width: 30em) {
  .col_sm_1 {
    width: 4.1666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_1:first-child {
    padding-left: 0;
  }
  .col_sm_1:last-child {
    padding-right: 0;
  }
  .col_sm_1 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_2 {
    width: 8.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_2:first-child {
    padding-left: 0;
  }
  .col_sm_2:last-child {
    padding-right: 0;
  }
  .col_sm_2 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_3 {
    width: 12.5%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_3:first-child {
    padding-left: 0;
  }
  .col_sm_3:last-child {
    padding-right: 0;
  }
  .col_sm_3 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_4 {
    width: 16.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_4:first-child {
    padding-left: 0;
  }
  .col_sm_4:last-child {
    padding-right: 0;
  }
  .col_sm_4 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_5 {
    width: 20.8333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_5:first-child {
    padding-left: 0;
  }
  .col_sm_5:last-child {
    padding-right: 0;
  }
  .col_sm_5 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_6 {
    width: 25%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_6:first-child {
    padding-left: 0;
  }
  .col_sm_6:last-child {
    padding-right: 0;
  }
  .col_sm_6 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_7 {
    width: 29.166666666666703%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_7:first-child {
    padding-left: 0;
  }
  .col_sm_7:last-child {
    padding-right: 0;
  }
  .col_sm_7 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_8 {
    width: 33.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_8:first-child {
    padding-left: 0;
  }
  .col_sm_8:last-child {
    padding-right: 0;
  }
  .col_sm_8 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_9 {
    width: 37.5%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_9:first-child {
    padding-left: 0;
  }
  .col_sm_9:last-child {
    padding-right: 0;
  }
  .col_sm_9 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_10 {
    width: 41.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_10:first-child {
    padding-left: 0;
  }
  .col_sm_10:last-child {
    padding-right: 0;
  }
  .col_sm_10 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_11 {
    width: 45.8333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_11:first-child {
    padding-left: 0;
  }
  .col_sm_11:last-child {
    padding-right: 0;
  }
  .col_sm_11 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_12 {
    width: 50%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_12:first-child {
    padding-left: 0;
  }
  .col_sm_12:last-child {
    padding-right: 0;
  }
  .col_sm_12 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_13 {
    width: 54.1666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_13:first-child {
    padding-left: 0;
  }
  .col_sm_13:last-child {
    padding-right: 0;
  }
  .col_sm_13 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_14 {
    width: 58.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_14:first-child {
    padding-left: 0;
  }
  .col_sm_14:last-child {
    padding-right: 0;
  }
  .col_sm_14 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_15 {
    width: 62.5%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_15:first-child {
    padding-left: 0;
  }
  .col_sm_15:last-child {
    padding-right: 0;
  }
  .col_sm_15 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_16 {
    width: 66.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_16:first-child {
    padding-left: 0;
  }
  .col_sm_16:last-child {
    padding-right: 0;
  }
  .col_sm_16 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_17 {
    width: 70.8333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_17:first-child {
    padding-left: 0;
  }
  .col_sm_17:last-child {
    padding-right: 0;
  }
  .col_sm_17 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_18 {
    width: 75%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_18:first-child {
    padding-left: 0;
  }
  .col_sm_18:last-child {
    padding-right: 0;
  }
  .col_sm_18 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_19 {
    width: 79.1666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_19:first-child {
    padding-left: 0;
  }
  .col_sm_19:last-child {
    padding-right: 0;
  }
  .col_sm_19 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_20 {
    width: 83.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_20:first-child {
    padding-left: 0;
  }
  .col_sm_20:last-child {
    padding-right: 0;
  }
  .col_sm_20 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_21 {
    width: 87.5%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_21:first-child {
    padding-left: 0;
  }
  .col_sm_21:last-child {
    padding-right: 0;
  }
  .col_sm_21 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_22 {
    width: 91.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_22:first-child {
    padding-left: 0;
  }
  .col_sm_22:last-child {
    padding-right: 0;
  }
  .col_sm_22 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_23 {
    width: 95.8333333333333%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_23:first-child {
    padding-left: 0;
  }
  .col_sm_23:last-child {
    padding-right: 0;
  }
  .col_sm_23 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .col_sm_24 {
    width: 100%;
    float: left;
    padding: 0 1em;
  }
  .col_sm_24:first-child {
    padding-left: 0;
  }
  .col_sm_24:last-child {
    padding-right: 0;
  }
  .col_sm_24 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .grid * {
    text-align: center;
  }
}

.l_grid {
  overflow: hidden;
}
.l_grid {
  zoom: 1;
  list-style: none;
}
.l_grid:before,
.l_grid:after {
  content: "";
  display: table;
}
.l_grid:after {
  clear: both;
}
.l_grid * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.l_large_1 {
  width: 8.3333333333333%;
  float: left;
  padding: 0 1em;
}
.l_large_1:first-child {
  padding-left: 0;
}
.l_large_1:last-child {
  padding-right: 0;
}
.l_large_1 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.l_large_2 {
  width: 16.6666666666667%;
  float: left;
  padding: 0 1em;
}
.l_large_2:first-child {
  padding-left: 0;
}
.l_large_2:last-child {
  padding-right: 0;
}
.l_large_2 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.l_large_3 {
  width: 25%;
  float: left;
  padding: 0 1em;
}
.l_large_3:first-child {
  padding-left: 0;
}
.l_large_3:last-child {
  padding-right: 0;
}
.l_large_3 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.l_large_4 {
  width: 33.3333333333333%;
  float: left;
  padding: 0 1em;
}
.l_large_4:first-child {
  padding-left: 0;
}
.l_large_4:last-child {
  padding-right: 0;
}
.l_large_4 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.l_large_5 {
  width: 41.6666666666667%;
  float: left;
  padding: 0 1em;
}
.l_large_5:first-child {
  padding-left: 0;
}
.l_large_5:last-child {
  padding-right: 0;
}
.l_large_5 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.l_large_6 {
  width: 50%;
  float: left;
  padding: 0 1em;
}
.l_large_6:first-child {
  padding-left: 0;
}
.l_large_6:last-child {
  padding-right: 0;
}
.l_large_6 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.l_large_7 {
  width: 58.3333333333333%;
  float: left;
  padding: 0 1em;
}
.l_large_7:first-child {
  padding-left: 0;
}
.l_large_7:last-child {
  padding-right: 0;
}
.l_large_7 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.l_large_8 {
  width: 66.6666666666667%;
  float: left;
  padding: 0 1em;
}
.l_large_8:first-child {
  padding-left: 0;
}
.l_large_8:last-child {
  padding-right: 0;
}
.l_large_8 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.l_large_9 {
  width: 75%;
  float: left;
  padding: 0 1em;
}
.l_large_9:first-child {
  padding-left: 0;
}
.l_large_9:last-child {
  padding-right: 0;
}
.l_large_9 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.l_large_10 {
  width: 83.3333333333333%;
  float: left;
  padding: 0 1em;
}
.l_large_10:first-child {
  padding-left: 0;
}
.l_large_10:last-child {
  padding-right: 0;
}
.l_large_10 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.l_large_11 {
  width: 91.6666666666667%;
  float: left;
  padding: 0 1em;
}
.l_large_11:first-child {
  padding-left: 0;
}
.l_large_11:last-child {
  padding-right: 0;
}
.l_large_11 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
.l_large_12 {
  width: 100%;
  float: left;
  padding: 0 1em;
}
.l_large_12:first-child {
  padding-left: 0;
}
.l_large_12:last-child {
  padding-right: 0;
}
.l_large_12 img {
  max-width: 100%;
  ms-interpolation-mode: bicubic;
}
@media (max-width: 60em) {
  .l_mdx_1 {
    width: 8.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .l_mdx_1:first-child {
    padding-left: 0;
  }
  .l_mdx_1:last-child {
    padding-right: 0;
  }
  .l_mdx_1 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_mdx_2 {
    width: 16.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .l_mdx_2:first-child {
    padding-left: 0;
  }
  .l_mdx_2:last-child {
    padding-right: 0;
  }
  .l_mdx_2 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_mdx_3 {
    width: 25%;
    float: left;
    padding: 0 1em;
  }
  .l_mdx_3:first-child {
    padding-left: 0;
  }
  .l_mdx_3:last-child {
    padding-right: 0;
  }
  .l_mdx_3 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_mdx_4 {
    width: 33.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .l_mdx_4:first-child {
    padding-left: 0;
  }
  .l_mdx_4:last-child {
    padding-right: 0;
  }
  .l_mdx_4 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_mdx_5 {
    width: 41.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .l_mdx_5:first-child {
    padding-left: 0;
  }
  .l_mdx_5:last-child {
    padding-right: 0;
  }
  .l_mdx_5 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_mdx_6 {
    width: 50%;
    float: left;
    padding: 0 1em;
  }
  .l_mdx_6:first-child {
    padding-left: 0;
  }
  .l_mdx_6:last-child {
    padding-right: 0;
  }
  .l_mdx_6 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_mdx_7 {
    width: 58.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .l_mdx_7:first-child {
    padding-left: 0;
  }
  .l_mdx_7:last-child {
    padding-right: 0;
  }
  .l_mdx_7 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_mdx_8 {
    width: 66.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .l_mdx_8:first-child {
    padding-left: 0;
  }
  .l_mdx_8:last-child {
    padding-right: 0;
  }
  .l_mdx_8 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_mdx_9 {
    width: 75%;
    float: left;
    padding: 0 1em;
  }
  .l_mdx_9:first-child {
    padding-left: 0;
  }
  .l_mdx_9:last-child {
    padding-right: 0;
  }
  .l_mdx_9 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_mdx_10 {
    width: 83.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .l_mdx_10:first-child {
    padding-left: 0;
  }
  .l_mdx_10:last-child {
    padding-right: 0;
  }
  .l_mdx_10 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_mdx_11 {
    width: 91.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .l_mdx_11:first-child {
    padding-left: 0;
  }
  .l_mdx_11:last-child {
    padding-right: 0;
  }
  .l_mdx_11 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_mdx_12 {
    width: 100%;
    float: left;
    padding: 0 1em;
  }
  .l_mdx_12:first-child {
    padding-left: 0;
  }
  .l_mdx_12:last-child {
    padding-right: 0;
  }
  .l_mdx_12 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
}
@media (max-width: 47.5em) {
  .l_md_1 {
    width: 8.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .l_md_1:first-child {
    padding-left: 0;
  }
  .l_md_1:last-child {
    padding-right: 0;
  }
  .l_md_1 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_md_2 {
    width: 16.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .l_md_2:first-child {
    padding-left: 0;
  }
  .l_md_2:last-child {
    padding-right: 0;
  }
  .l_md_2 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_md_3 {
    width: 25%;
    float: left;
    padding: 0 1em;
  }
  .l_md_3:first-child {
    padding-left: 0;
  }
  .l_md_3:last-child {
    padding-right: 0;
  }
  .l_md_3 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_md_4 {
    width: 33.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .l_md_4:first-child {
    padding-left: 0;
  }
  .l_md_4:last-child {
    padding-right: 0;
  }
  .l_md_4 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_md_5 {
    width: 41.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .l_md_5:first-child {
    padding-left: 0;
  }
  .l_md_5:last-child {
    padding-right: 0;
  }
  .l_md_5 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_md_6 {
    width: 50%;
    float: left;
    padding: 0 1em;
  }
  .l_md_6:first-child {
    padding-left: 0;
  }
  .l_md_6:last-child {
    padding-right: 0;
  }
  .l_md_6 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_md_7 {
    width: 58.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .l_md_7:first-child {
    padding-left: 0;
  }
  .l_md_7:last-child {
    padding-right: 0;
  }
  .l_md_7 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_md_8 {
    width: 66.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .l_md_8:first-child {
    padding-left: 0;
  }
  .l_md_8:last-child {
    padding-right: 0;
  }
  .l_md_8 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_md_9 {
    width: 75%;
    float: left;
    padding: 0 1em;
  }
  .l_md_9:first-child {
    padding-left: 0;
  }
  .l_md_9:last-child {
    padding-right: 0;
  }
  .l_md_9 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_md_10 {
    width: 83.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .l_md_10:first-child {
    padding-left: 0;
  }
  .l_md_10:last-child {
    padding-right: 0;
  }
  .l_md_10 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_md_11 {
    width: 91.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .l_md_11:first-child {
    padding-left: 0;
  }
  .l_md_11:last-child {
    padding-right: 0;
  }
  .l_md_11 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_md_12 {
    width: 100%;
    float: left;
    padding: 0 1em;
  }
  .l_md_12:first-child {
    padding-left: 0;
  }
  .l_md_12:last-child {
    padding-right: 0;
  }
  .l_md_12 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
}
@media (max-width: 30em) {
  .l_sm_1 {
    width: 8.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .l_sm_1:first-child {
    padding-left: 0;
  }
  .l_sm_1:last-child {
    padding-right: 0;
  }
  .l_sm_1 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_sm_2 {
    width: 16.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .l_sm_2:first-child {
    padding-left: 0;
  }
  .l_sm_2:last-child {
    padding-right: 0;
  }
  .l_sm_2 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_sm_3 {
    width: 25%;
    float: left;
    padding: 0 1em;
  }
  .l_sm_3:first-child {
    padding-left: 0;
  }
  .l_sm_3:last-child {
    padding-right: 0;
  }
  .l_sm_3 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_sm_4 {
    width: 33.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .l_sm_4:first-child {
    padding-left: 0;
  }
  .l_sm_4:last-child {
    padding-right: 0;
  }
  .l_sm_4 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_sm_5 {
    width: 41.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .l_sm_5:first-child {
    padding-left: 0;
  }
  .l_sm_5:last-child {
    padding-right: 0;
  }
  .l_sm_5 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_sm_6 {
    width: 50%;
    float: left;
    padding: 0 1em;
  }
  .l_sm_6:first-child {
    padding-left: 0;
  }
  .l_sm_6:last-child {
    padding-right: 0;
  }
  .l_sm_6 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_sm_7 {
    width: 58.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .l_sm_7:first-child {
    padding-left: 0;
  }
  .l_sm_7:last-child {
    padding-right: 0;
  }
  .l_sm_7 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_sm_8 {
    width: 66.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .l_sm_8:first-child {
    padding-left: 0;
  }
  .l_sm_8:last-child {
    padding-right: 0;
  }
  .l_sm_8 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_sm_9 {
    width: 75%;
    float: left;
    padding: 0 1em;
  }
  .l_sm_9:first-child {
    padding-left: 0;
  }
  .l_sm_9:last-child {
    padding-right: 0;
  }
  .l_sm_9 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_sm_10 {
    width: 83.3333333333333%;
    float: left;
    padding: 0 1em;
  }
  .l_sm_10:first-child {
    padding-left: 0;
  }
  .l_sm_10:last-child {
    padding-right: 0;
  }
  .l_sm_10 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_sm_11 {
    width: 91.6666666666667%;
    float: left;
    padding: 0 1em;
  }
  .l_sm_11:first-child {
    padding-left: 0;
  }
  .l_sm_11:last-child {
    padding-right: 0;
  }
  .l_sm_11 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_sm_12 {
    width: 100%;
    float: left;
    padding: 0 1em;
  }
  .l_sm_12:first-child {
    padding-left: 0;
  }
  .l_sm_12:last-child {
    padding-right: 0;
  }
  .l_sm_12 img {
    max-width: 100%;
    ms-interpolation-mode: bicubic;
  }
  .l_grid * {
    text-align: center;
  }
}

#map {
  width: 100%;
  height: 100%;
  border: none;
}

html {
  min-height: 100%;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
*,
*:active,
*:focus,
*:hover {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
a[disabled] {
  opacity: 0.6;
  pointer-events: none;
}
button,
input[type="submit"] {
  margin: 0;
  color: inherit;
}
*::selection {
  background: rgba(0,0,0,0.4);
}
