html
    min-height 100%
body
    margin 0
*
    box-sizing border-box

*
*:active
*:focus
*:hover
    outline 0

h1, h2, h3, h4, h5, h6
    font-weight normal

a
    text-decoration none
    color inherit
    &[disabled]
        opacity .6
        pointer-events none

button
input[type="submit"]
    margin 0
    color inherit

*::selection
    background rgba(0,0,0, .4)
