.clearfix
    clearfix()

.left
    float left
.right
    float right

for row in 1 .. 15
    .margin-{row}
        margin 10px * row
for row in 1 .. 15
    .margin-top-{row}
        margin-top 10px * row
for row in 1 .. 15
    .margin-right-{row}
        margin-right 10px * row !important
for row in 1 .. 15
    .margin-bottom-{row}
        margin-bottom 10px * row
for row in 1 .. 15
    .margin-left-{row}
        margin-left 10px * row !important
for row in 1 .. 15
    .padding-top-{row}
        padding-top 10px * row
for row in 1 .. 15
    .padding-bottom-{row}
        padding-bottom 10px * row
for row in 1 .. 15
    .padding-left-{row}
        padding-left 10px * row
for row in 1 .. 15
    .padding-right-{row}
        padding-right 10px * row

for row in 1 .. 10
    .width-{row}
        width 10% * row !important
        
.vcenter
    display table
    &__container
        display table-cell
        vertical-align middle

.flexible-frame-wrapper
    position relative
    height 0
    padding-bottom 78.8%
    iframe
        position absolute
        top 0 
        left 0 
        right 0 
        bottom 0
        
.two-media-height
    height 220px
        
