@import ('nib')
@import 'variables'

html
body
    margin 0
    padding 0

body
    font 18px/1.2 'Open Sans', sans-serif

.container
    clearfix()
    width 1024px
    margin auto

.scrollbox
    overflow-y auto
.tab-height
    overflow-y auto