@import ('nib')
@import 'variables'

html
body
    margin 0
    padding 0
    height 100%

body
    height 100%
    font 18px/1 'Oranienbaum'

.container
    clearfix()
    width 1024px
    margin auto

.scrollbox
    overflow-y auto
.tab-height
    overflow-y auto