.contacts
    position relative
    padding 15px 0 0
    text-align center
    font-size 21px
    background rgb(50, 50, 50)
    &__item
        display inline
        color rgb(255, 255, 255)
    &__icon
        display inline-block
        vertical-align text-bottom
        width 24px
