.contacts
    padding 0
    text-align center
    font-size 21px
    &__item
        display inline
        color rgb(255, 255, 255)
    &__icon
        display inline-block
        vertical-align text-bottom
        width 24px
