@import 'nib'

.header
    text-align center
    
.main-nav
    margin 0 0 20px 0
    padding 10px 0
    border-bottom 1px solid
    &__list
        clearfix()
        list-style none
        margin 0
        padding 0
    &__item
        display inline-block
    &__link
        display inline-block
        padding 10px
        font-size 24px
        font-family 'Oranienbaum', serif
    
.logo
    width 250px