@import 'nib'

.media
    text-align center

.media-item
    clearfix()
    display inline-block
    vertical-align top
    width 512px
    margin 0 20px 0 0
    text-align left
    background rgba(255, 255, 255, .8)
    border 10px solid rgba(55, 55, 55, .2)
    &__img
        float left
        width 50%
    &__heading
        overflow hidden
        margin .5em
        padding 0 0 0 20px
        font-size 24px
        line-height 1
    &__text
        overflow hidden
        margin .5em
        padding 0 0 0 20px