.home
    background url(../img/backgrounds/header.jpg)
    background-size 100% auto
.crew
    background url(../img/backgrounds/ycht-clb-tgn.jpg)
    background-size 100% auto
    background-position 0 -80px
.travel
    background url(../img/backgrounds/yacht-clb-travl.jpg)
    background-size 100% auto
.yachts
    background url(../img/backgrounds/ycht-clb-ychts.jpg)
    background-size 100% auto
.contacts
    background rgb(51, 51, 51)
    